<div class="flex flex-col items-center p-3 border-b bg-slate-50 border-gray-100">
    <p class="text-xl font-semibold border-b w-full text-center border-gray-200 pb-2">Lista de Correos</p>
    <div class="overflow-scroll w-full">
        {% for email in emails %}
        <div class="w-fit">
            <a class="truncate" href="#{{ email.id }}">{{ email.subject}}</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="flex flex-col gap-6 col-span-3 overflow-y-scroll p-6 border-b bg-white border-gray-100 scroll-smooth">
    <div class="flex flex-col gap-6 col-span-3 overflow-y-scroll p-6 border-b bg-white border-gray-100 scroll-smooth">
        {% if emails %}
        {% for email in emails %}
        {% if contacto.correo in email.from %}
        <!-- Incoming: Sent by the contact -->
        <div class="max-w-2xl self-start border border-gray-200 rounded-2xl rounded-tl-none bg-gray-50 p-4 shadow-sm"
            id="{{ email.id }}">
            <div class="flex justify-between items-center mb-2 border-b border-gray-100 pb-1">
                <span class="text-xs font-medium text-gray-600">{{ email.from }}</span>
                <span class="text-[10px] text-gray-400">{{ email.date }}</span>
            </div>
            <div class="prose prose-sm max-w-none text-gray-800">
                {{ email.html_body | safe }}
            </div>
        </div>
        {% else %}
        <!-- Outgoing: Sent by me -->
        <div class="max-w-2xl self-end border border-teal-100 rounded-2xl rounded-tr-none bg-teal-50 p-4 shadow-sm"
            id="{{ email.id }}">
            <div class="flex justify-between items-center mb-2 border-b border-teal-100 pb-1">
                <span class="text-[10px] text-teal-400">{{ email.date }}</span>
                <span class="text-xs font-medium text-[#758bfd]">Yo (para: {{ email.to }})</span>
            </div>
            <div class="max-w-none text-gray-800">
                {{ email.html_body | safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="text-center size-full">
            <span class="my-auto text-2xl font-semibold text-gray-400">
                No se encontraron correos
            </span>
        </div>
        {% endif %}
    </div>
</div>